<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>VUE AND AXIOS</title> <!-- texto en la pestaña -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
         crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
         
    </head>
    <body ng-controller="testCtrl">
        <div id="app" class="container">
            <div class="alert alert-primary w-100 d-flex justify-content-center" role="alert">               
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success" @click="getAll()">
                        <i class="material-icons">person</i>
                        Empleados
                    </button>
                    <button type="button" class="btn btn-primary">Proveedores</button>
                    <button type="button" class="btn btn-primary">Transacciones</button>
                    <button type="button" class="btn btn-primary">Buscar</button>
                  </div>
            </div>
            <img v-if="bob" src="assets/bob.png" alt="bob" class="rounded mx-auto d-block">
            <div v-if="pagEmpleados">
                <h1 class="text-center">PAGINA DE EMPLEADOS</h1>
                <div class="mb-2">
                    <button type="button" class="btn btn-success w-100 ">Agregar nuevo</button>
                </div>
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Num Tarjeta</th>
                            <th scope="col">PIN</th>
                            <th scope="col">Municipio</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Saldo $</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody v-for="user in info">
                        <tr >
                            <td>{{user.dni}}</td>
                            <td>{{user.n_tarjeta}}</td>
                            <td>{{user.pin_tarjeta}}</td>
                            <td>{{user.id_municipalidad}}</td>
                            <td>{{user.nombre}}</td>
                            <td>{{user.saldo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted mt-2">
                <p class="text-center">En desarrollo - No Somos Cavernicolas Team ©</p> 
              </div>
        </div>
       
        <script src="test1.js"></script>
        <script src="test2.js"></script>
    </body>
</html>