<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generación de factura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generación de factura</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item>
        <ion-label position="floating">Ingrese número de tarjeta</ion-label>
        <ion-input type="tel" clearInput [(ngModel)]="tarea.nTarjeta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese número de proveedor</ion-label>
        <ion-input clearInput [(ngModel)]="tarea.idProveedor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese el número de la factura</ion-label>
        <ion-input clearInput [(ngModel)]="tarea.nTransaccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese el monto</ion-label>
        <ion-input clearInput [(ngModel)]="tarea.monto"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="floating">Ingrese el PIN de la tarjeta</ion-label>
        <ion-input clearInput [(ngModel)]="tarea.pinTarjeta"></ion-input>
      </ion-item> -->
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-button (click)="generarTransaccion()">Continuar</ion-button>
    </ion-col>
    <!-- disable button once pressed to avoid double clicking -->
  </ion-row>
  <ion-list *ngIf="showSuccess">
  </ion-list>
</ion-grid>
</ion-content>
