<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Detalles de la compra</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label> Fecha </ion-label>
      <ion-text slot="end" class="ion-text-wrap"> {{ data.fecha }} </ion-text>
    </ion-item>
    <ion-item>
      <ion-label> Monto </ion-label>
      <ion-text slot="end" class="ion-text-wrap"> {{ data.monto }} </ion-text>
    </ion-item>
    <ion-item>
      <ion-label> Comercio </ion-label>
      <ion-text slot="end" class="ion-text-wrap"> {{ data.nombre }} </ion-text>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap"> Nº Factura </ion-label>
      <ion-text slot="end"> {{ data.n_transaccion }} </ion-text>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger" fill="outline" (click)="dismissModal()">Cerrar</ion-button> 
</ion-content>